<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Expanción | ESP32 Admin Tool v3</title>
  <meta content="ESP32 Admin tool v3.0" name="description">
  <meta content="Html Admin Panel for ESP32 configurations" name="keywords">
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/icons.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: ESP32 Admin Tool - v3.0.0
  * Author: iothost.org
  ======================================================== -->
</head>

<body>
  <div class="preloader">
    <img src="./assets/img/loader.png" alt="loader">
  </div>
  <div style="display: none;" id="content">
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center"><!--header automatico--></header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <!-- automatico -->
      </ul>
    </aside>
    <!-- End Sidebar-->
    <main id="main" class="main">
      <div class="pagetitle">
        <!-- automatico -->
        <h1>Fecha y Hora</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item">Dispositivo</li>
            <li class="breadcrumb-item active">Fecha y Hora</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->
      <section class="section dashboard">
        <div class="content">
          <div class="row">
            <!-- Timer Block -->
            <div class="col-md-12">
              <div class="block block-rounded block-themed">
                <div class="block-content">
                  <form class="form form-vertical" @submit.prevent="handleSubmit()">
                    <div class="row push">
                      <div class="form-group col-md-12 mb-2 mt-2">
                        <div class="form-group">
                          <label class="form-label" for="time_ajuste">Ajustar Fecha y Hora:</label>
                          <div class="form-check form-switch">
                            <input class="form-check-input" id="time_ajuste" type="checkbox" v-model="time.time_ajuste">
                            <label class="form-check-label"
                              for="time_ajuste">{{time_ajuste}}</label><code> (Automatico: solo con acceso a internet)</code>
                          </div>
                        </div>
                      </div>
                      <div class="mb-2" v-if="time.time_ajuste">
                        <div class="form-group col-md-6 mb-2">
                          <div class="form-group">
                            <label class="form-label ml-5" for="time_date">Fecha y Hora (DD/MM/AAAA HH-MM): </label>
                            <input type="datetime-local" class="form-control" id="time_date" v-model="time.time_date">
                          </div>
                        </div>
                      </div>
                      <div class="mb-2" v-else>
                        <div class="form-group col-md-8 mb-3">
                          <div class="form-group">
                            <label class="form-label ml-5" for="time_z_horaria">Zona Horaria:</label>
                            <select class="form-select" id="time_z_horaria" name="time_z_horaria"
                              v-model.number="time.time_z_horaria">
                              <option value="-12">(GMT-12:00) Enewetak, Kwajalein</option>
                              <option value="-11">(GMT-11:00) Islas Midway, Samoa</option>
                              <option value="-10">(GMT-10:00) Hawái</option>
                              <option value="-9">(GMT-09:00) Alaska</option>
                              <option value="-8">(GMT-08:00) Hora del Pacífico</option>
                              <option value="-7">(GMT-07:00) Hora de las Montañas Rocosas (EE.UU. Y Canadá)</option>
                              <option value="-6">(GMT-06:00) Hora Central (México, EE.UU. y Canadá)</option>
                              <option value="-5">(GMT-05:00) Hora del Este (EE.UU. y Canadá)</option>
                              <option value="-4.5">(GMT-04:30) Caracas</option>
                              <option value="-4">(GMT-04:00) Hora del Atlántico (Canadá)</option>
                              <option value="-3.5">(GMT-03:30) Terranova</option>
                              <option value="-3">(GMT-03:00) Brasilia, Buenos Aires</option>
                              <option value="-2">(GMT-02:00) Atlántico Central</option>
                              <option value="-1">(GMT-01:00) Azores, Islas de Cabo Verde</option>
                              <option value="0">(GMT) Hora Media de Greenwich: Dublín, Londres</option>
                              <option value="1">(GMT+01:00) Berlín, Estocolmo, Roma, Berna, Bruselas</option>
                              <option value="2">(GMT+02:00) Atenas, Helsinki, Europa del Este, Israel</option>
                              <option value="3">(GMT+03:00) Bagdad, Kuwait, Nairobi, Riad, Moscú</option>
                              <option value="3.5">(GMT+03:30) Teherán</option>
                              <option value="4">(GMT+04:00) Abu Dabi, Mascate, Kazán, Volgogrado</option>
                              <option value="4.5">(GMT+04:30) Kabul</option>
                              <option value="5">(GMT+05:00) Islamabad, Karachi, Ekaterimburgo</option>
                              <option value="5.5">(GMT+05:30) Madrás, Calcuta, Mumbai, Nueva Delhi </option>
                              <option value="5.75">(GMT+05:45) Katmandú</option>
                              <option value="6">(GMT+06:00) Alma-Ata, Dhaka</option>
                              <option value="6.5">(GMT+06:30) Rangún</option>
                              <option value="7">(GMT+07:00) Bangkok, Yakarta, Hanói</option>
                              <option value="8">(GMT+08:00) Pekín, Hong Kong, Perth, Singapur</option>
                              <option value="9">(GMT+09:00) Tokio, Osaka, Sapporo, Seúl, Yakutsk</option>
                              <option value="9.5">(GMT+09:30) Adelaida</option>
                              <option value="10">(GMT+10:00) Brisbane, Guam, Canberra, Melbourne, Sídney</option>
                              <option value="11">(GMT+11:00) Magadan, Islas Salomón, Nueva Caledonia </option>
                              <option value="12">(GMT+12:00) Fuji, Kamchatka, Auckland</option>
                              <option value="13">(GMT+13:00) Nukualofa</option>
                            </select>
                          </div>
                          <div class="form-group col-md-12 mt-2">
                            <div class="form-group">
                              <label class="form-label ml-5" for="time_server">Servidor NTP:</label>
                              <input type="text" class="form-control" id="time_server" placeholder="time.nist.gov"
                                v-model="time.time_server">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mb-2 mt-1">
                        <button type="submit" class="btn btn-alt-success me-1">
                          <i class="fa fa-fw fa-save opacity-50 me-1"></i> Guardar
                        </button><code>Nota: Actualizar página para ver cambios en la fecha y hora.</code>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- END Timer Block -->
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        © Copyright <strong><span>iotmx.com</span></strong>. All Rights Reserved <strong><span>v1.0.0</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="https://iotmx.org/">IOTMX.COM</a>
      </div>
    </footer>
    <!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="assets/js/bundle.min.js"></script>

    <!-- Personal JS File -->
    <script src="assets/js/app.js" type="module"></script>
  </div>
</body>

</html>